{% if syntec_ssl_key is not none and syntec_ssl_cert is not none %}
server {
    listen 80;
    server_name {{ syntec_domain_name }};
    return 301 https://$host$request_uri;
}
{% endif %}

server {
    server_name   {{ syntec_domain_name }};

{% if syntec_ssl_key is not none and syntec_ssl_cert is not none %}
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    ssl_certificate        /etc/nginx/certs/{{syntec_project_name}}-certificate.cert;
    ssl_certificate_key    /etc/nginx/certs/{{syntec_project_name}}-certificate.key;
    include /etc/nginx/options-ssl-nginx.conf;
{% else %}
    listen  80;
{% endif %}

    root {{ syntec_project_public }};
    index index.php index.html index.htm;

    charset utf-8;
    client_max_body_size 100M;
    fastcgi_read_timeout 1800;

    location /api/ {
        try_files $uri $uri/ /index.php?_url=$uri&$args;
    }

{% for frontend in syntec_frontends %}
    location {{ frontend.location }} {
        alias {{ frontend.alias }};
        try_files $uri$args $uri$args/ $uri/ $uri {{ frontend.location }}/index.html;
    }
{% endfor %}


    # When the HTTP request does not match the above
    # and the file ends in .php
    location ~ [^/]\.php(/|$) {
        fastcgi_pass  {{ syntec_php_fpm_upstream }};
	    fastcgi_index /index.php;
        include fastcgi_params;
        fastcgi_split_path_info ^(.+?\.php)(/.*)$;
        if (!-f $document_root$fastcgi_script_name) {
            return 404;
        }

        fastcgi_param PATH_INFO       $fastcgi_path_info;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    location ~ /\.ht {
        deny all;
    }
}
