[Unit]
Description=Syntec jobqueue runner for {{ syntec_project_name }}

[Service]
Type=simple
RemainAfterExit=no
Restart=always
RestartSec=5s
ExecStart={{ syntec_project_current }}/bin/console syntec:jobqueue:run --verbose

[Install]
WantedBy=default.target
